bin/
obj/
install/
.vs/
*.user
*Backup.csproj
*tmp.csproj
.idea/
HandheldCompanion/SentryConfig.cs
HandheldCompanion/SentryConfig.cs.bak
cache/motherboard.json
HandheldCompanion/SecretKeys.cs
HandheldCompanion/SecretKeys.cs.bak