<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HIDmode" value="1" />
		<add key="DSUEnabled" value="True" />
		<add key="DSUport" value="26760" />
		<add key="DSUip" value="127.0.0.1" />
		<add key="HIDstatus" value="1" />
		<add key="SensorSelection" value="1" />
		<add key="SensorPlacement" value="0" />
		<add key="SensorPlacementUpsideDown" value="False" />
	</appSettings>
</configuration>