<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="deviceInstancePath" value="" />
		<add key="baseContainerDeviceInstancePath" value="" />
		<add key="HIDcloakonconnect" value="True" />
		<add key="HIDmode" value="0" />
		<add key="DSUEnabled" value="True" />
		<add key="DSUport" value="26760" />
		<add key="DSUip" value="127.0.0.1" />
		<add key="HIDuncloakonclose" value="True" />
		<add key="HIDstrength" value="100" />
		<add key="HIDstatus" value="1" />
		<add key="HIDidx" value="0" />
		<add key="SensorSelection" value="1" />
		<add key="SensorPlacement" value="0" />
		<add key="SensorPlacementUpsideDown" value="False" />
	</appSettings>
</configuration>