<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandheldCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HandheldCompanion.Properties.Settings>
            <setting name="ToastEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseMinimises" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainWindowTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartServiceWithCompanion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HaltServiceWithCompanion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateLastChecked" serializeAs="String">
                <value>1989-12-20</value>
            </setting>
            <setting name="OverlayModel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayControllerAlignment" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="OverlayControllerSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="OverlayTrackpadsAlignment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayTrackpadsOpacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="OverlayTrackpadsSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CurrentCulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="OverlayControllerRestingPitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayControllerRestingYaw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayControllerRestingRoll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SensorPlacementUpsideDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SensorSelection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SensorPlacement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayRenderInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="OverlayRenderAntialiasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayFaceCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickToolsHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="QuickToolsLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickToolsTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickToolsPerformanceTDPSustainedValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuickToolsPerformanceTDPEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickToolsPerformanceGPUEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickToolsPowerModeValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QuickToolsPerformanceTDPBoostValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigurableTDPOverride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigurableTDPOverrideUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigurableTDPOverrideDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayControllerOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayControllerBackgroundColor" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="MainWindowPrevState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServiceStartMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowBackdrop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseEnergyStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickToolsPerformanceGPUValue" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://api.github.com/repos/Valkirie/HandheldCompanion</value>
            </setting>
            <setting name="OverlayControllerAlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HIDuncloakonclose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HIDstrength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HIDInstancePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayControllerMotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamDeckLizardMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamDeckLizardButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamDeckMuteController" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HIDcloakonconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDvibrateonconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="navViewIsPaneOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LayoutFilterOnDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuietModeDuty" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="QuietModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </HandheldCompanion.Properties.Settings>
    </userSettings>
</configuration>