<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HandheldCompanion.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Media.HostVisual.DisconnectsOnWrongThread=true"/>
	</runtime>
	<userSettings>
		<HandheldCompanion.Properties.Settings>
   <setting name="ToastEnable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RunAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartMinimized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CloseMinimises" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainWindowHeight" serializeAs="String">
    <value>720</value>
   </setting>
   <setting name="MainWindowWidth" serializeAs="String">
    <value>1280</value>
   </setting>
   <setting name="MainWindowLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainWindowTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MainWindowState" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MainWindowTheme" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UpdateLastChecked" serializeAs="String">
    <value>1989-12-20</value>
   </setting>
   <setting name="OverlayModel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OverlayControllerAlignment" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="OverlayControllerSize" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="OverlayTrackpadsAlignment" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OverlayTrackpadsOpacity" serializeAs="String">
    <value>0.25</value>
   </setting>
   <setting name="OverlayTrackpadsSize" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="CurrentCulture" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="OverlayControllerRestingPitch" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SensorPlacementUpsideDown" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SensorSelection" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="SensorPlacement" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OverlayRenderInterval" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="OverlayRenderAntialiasing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OverlayFaceCamera" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="QuickToolsHeight" serializeAs="String">
    <value>720</value>
   </setting>
   <setting name="ConfigurableTDPOverride" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfigurableTDPOverrideUp" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ConfigurableTDPOverrideDown" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OverlayControllerOpacity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OverlayControllerBackgroundColor" serializeAs="String">
    <value>#00000000</value>
   </setting>
   <setting name="MainWindowPrevState" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FirstStart" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MainWindowBackdrop" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UseEnergyStar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdateUrl" serializeAs="String">
    <value>https://api.github.com/repos/Valkirie/HandheldCompanion</value>
   </setting>
   <setting name="OverlayControllerAlwaysOnTop" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HIDuncloakonclose" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VibrationStrength" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="HIDInstancePath" serializeAs="String">
    <value />
   </setting>
   <setting name="OverlayControllerMotion" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SteamControllerMute" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HIDcloakonconnect" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HIDvibrateonconnect" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QuickToolsIsPaneOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LayoutFilterOnDevice" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="QuietModeDuty" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="QuietModeToggled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QuietModeEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainWindowIsPaneOpen" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DesktopProfileOnStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QuietModeDisclosure" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OnScreenDisplayLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OnScreenDisplayRefreshRate" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="NativeDisplayOrientation" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="PlatformRTSSEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="QuickToolsLocation" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="QuicktoolsBackdrop" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="QuickToolsAutoHide" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ControllerManagement" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HidModeDoNotShowAgain" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HIDmode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HIDstatus" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DSUEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DSUport" serializeAs="String">
    <value>26760</value>
   </setting>
   <setting name="DSUip" serializeAs="String">
    <value>127.0.0.1</value>
   </setting>
   <setting name="LEDBrightness" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="LEDMainColor" serializeAs="String">
    <value>#FFFFFF00</value>
   </setting>
   <setting name="LEDPresetIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LEDAmbilightVerticalBlackBarDetection" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LEDUseSecondColor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LEDSettingsLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LEDSettingsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LEDSecondColor" serializeAs="String">
    <value>#FFFFFF00</value>
   </setting>
   <setting name="LEDSettingsUseAccentColor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LEDSpeed" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="LegionControllerPassthrough" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OnScreenDisplayToggle" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastOnScreenDisplayLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="UISounds" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OnScreenDisplayTimeLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayCPULevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayRAMLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayGPULevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayVRAMLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayFPSLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayBATTLevel" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="OnScreenDisplayOrder" serializeAs="String">
    <value>Time,GPU,CPU,VRAM,RAM,BATT,FPS</value>
   </setting>
   <setting name="LegionControllerGyroIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BatteryChargeLimit" serializeAs="String">
    <value>False</value>
   </setting>
  </HandheldCompanion.Properties.Settings>
	</userSettings>
</configuration>